# samplers for FittingSequence
numpyro>=0.15.3
jaxopt>=0.8.3
dynesty
zeus-mcmc
cobaya
nautilus-sampler>=0.7
emcee>=3.0.0
nestcheck @ https://github.com/ejhigson/nestcheck/archive/refs/heads/master.zip
dyPolyChord @ https://github.com/ejhigson/dyPolyChord/archive/refs/heads/master.zip